.btn {
  width: 115px;
  height: 39px;
  flex-shrink: 0;
  border-radius: 28px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}
.more {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 116.667% */
  letter-spacing: 3.75px;
  text-transform: uppercase;
  margin-left: 9px;
  opacity: 0.5;
  width: 42px;
}
.upside-down {
  transform: rotate(180deg);
}
.round {
  transition: all 0.5s ease-in-out;
}
@media screen and (width > 767px) {
  .btn {
    width: 146px;
    height: 56px;
    flex-shrink: 0;
    gap: 30px;
  }
  .more {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 175% */
    letter-spacing: 5px;
    text-transform: uppercase;
  }
  .round img {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
  }
  .btn {
    margin-bottom: 90px;
  }
}
@media screen and (width > 1339px) {
  .btn {
    margin-bottom: 50px;
    align-self: flex-end;
    margin-right: 160px;
  }
}
