.clock {
  width: 278px;
  height: 185px;
  flex-shrink: 0;
  transition: all 0.5s ease-out;
}
.greeting {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.HHMM {
  color: #fff;
  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100px; /* 100% */
  letter-spacing: -2.5px;
  width: 244px;
  height: 100px;
}
.location {
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 186.667% */
  letter-spacing: 3px;
  text-transform: uppercase;
}
.marg {
  margin-top: -200px;
}
@media screen and (width > 767px) {
  .HHMM {
    font-size: 175px;
    line-height: 175px;
    letter-spacing: -4.375px;
    height: 175px;
  }

  .location {
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }
  .greet {
    width: 520px;
  }
  .greeting {
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }
  .marg {
    margin-top: 0;
    margin-bottom: 200px;
  }
  .clock {
    margin-bottom: 200px;
  }
}
@media screen and (width > 1399px) {
  .clock {
    display: flex;
    width: 619px;
    height: 288px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: -70px;
  }
  .MMHH {
    font-size: 200px;
    line-height: 200px; /* 100% */
    letter-spacing: -5px;
  }
}
