@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  width: auto;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding-left: 26px;
  position: relative;
  overflow: hidden;
}
.night {
  background-image: url('Object.svg');
}
.day {
  background-image: url('bg2.svg');
}
